In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('TASK_0/synthetic_bureau.csv')

In [3]:
df.head()

,Customer ID,Credit Score,Existing Loans,Utilization,Missed Payments (12M),Total Outstanding Debt,Debt-to-Income Ratio
0,1,800,0,0.26,0,455392.42,0.66
1,2,850,1,0.31,0,43903.64,0.74
2,3,900,2,0.07,0,209891.71,0.35
3,4,700,0,0.61,0,419420.60,0.57
4,5,710,1,0.74,3,223024.50,0.16

In [4]:
df.isnull().sum()

Customer ID               0
Credit Score              0
Existing Loans            0
Utilization               0
Missed Payments (12M)     0
Total Outstanding Debt    0
Debt-to-Income Ratio      0
dtype: int64